body {
  padding-left: 20px;
}

h1 {
  font-size: 40px;
}

main {
  display: grid;
  width: 800px;
  grid-template-rows: 60px 60px 1fr;
  grid-template-columns: 1fr;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {    
  border: 1px solid #d1d0d0;
  text-align: left;
}

th, td {
  padding: 5px;
}

section.navbar select.item_name {
  width: 325px;
  height: 40px;
  font-size: 16px;
  background: tomato;
}

section.navbar select.size, section.postbar select.addSize {
  width: 120px;
  height: 40px;
  font-size: 16px;
  background: tomato;
}

section.postbar select.addSize {
  background: rgb(83, 214, 231);
}

section.navbar input,  section.postbar input {
  height: 33px;
  width: 150px;
  margin-left: 40px;
  margin-right: 10px;
  font-size: 16px;
}

section.container table input {
  height: 16px;
  width: 16px;
  
}

section button {
  height: 38px;
  width: 125px;
}

div.message {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 22px;
  padding: 5px;
  width: 800px;
  margin-bottom: 5px;
}

.red {
  background: red;
}

.green {
  background: rgb(90, 192, 90);
}